<!-- components/experience.html -->
<section id="experience" class="section-content hidden">
    <button class="close-button absolute top-4 right-4 text-white text-5xl">&times;</button>
    <div class="container mx-auto max-w-4xl pt-16">
        <h2 class="text-3xl font-bold text-center mb-8">working on this section, for now. :D</h2>
        <div class="space-y-6">
            <div class="bg-gray p-6 rounded-lg">
                <h3 class="text-xl font-semibold">#</h3>
                <p class="text-gray-400">#</p>
                <ul class="list-disc list-inside text-gray-300 mt-2">
                </ul>
            </div>
            <div class="bg-gray p-6 rounded-lg">
                <h3 class="text-xl font-semibold">#</h3>
                <p class="text-gray-400">#</p>
                <ul class="list-disc list-inside text-gray-300 mt-2">
                </ul>
            </div>
        </div>
    </div>
</section>